In [51]:
import pandas as pd
import numpy as np

In [52]:
df = pd.read_csv('yelp_boston.csv')
df.head()

,name,url,review_count,categories_json,rating,snippet_text,location_json,neighborhood,latitude,longitude,search category
0,Wheelhouse,http://www.yelp.com/biz/wheelhouse-boston-3,101,"[[""Breakfast & Brunch"", ""breakfast_brunch""], [...",4.5,"After going to Wheelhouse, you'll never order ...","{""cross_streets"": ""Milk St & Batterymarch Arm""...",Financial District,42.357926,-71.053962,restaurants
1,Tenoch Mexican,http://www.yelp.com/biz/tenoch-mexican-boston,121,"[[""Mexican"", ""mexican""]]",4.5,"So it's official, folks. We've finished our sa...","{""city"": ""Boston"", ""display_address"": [""3 Lewi...",North End,42.363309,-71.051800,restaurants
2,O Ya,http://www.yelp.com/biz/o-ya-boston,450,"[[""Japanese"", ""japanese""]]",4.5,My husband and I came here to celebrate our 20...,"{""city"": ""Boston"", ""display_address"": [""9 E St...",Waterfront,42.351408,-71.056867,restaurants
3,Locale,http://www.yelp.com/biz/locale-boston,121,"[[""Italian"", ""italian""], [""Pizza"", ""pizza""]]",4.5,Truly thankful that we stumbled on Locale whil...,"{""cross_streets"": ""Fleet St & Tileston St"", ""c...",North End,42.365085,-71.053187,restaurants
4,Neptune Oyster,http://www.yelp.com/biz/neptune-oyster-boston,2487,"[[""Seafood"", ""seafood""], [""Live/Raw Food"", ""ra...",4.5,Best lobster roll on the whole trip..... and I...,"{""cross_streets"": ""Hull St & Stillman St"", ""ci...",North End,42.363618,-71.056012,restaurants

In [53]:
print(len(df['search category'].unique()), "search categories:", df['search category'].unique())

18 search categories: ['restaurants' 'coffee' 'newamerican' 'french' 'sandwiches' 'cafes'
 'indpak' 'sushi' 'japanese' 'chinese' 'mexican' 'thai' 'pizza' 'donuts'
 'bakeries' 'italian' 'vietnamese' 'ethnicmarkets']

In [54]:
categories = ['breakfast_brunch', 'burgers', 'sandwiches', 'mexican', 'japanese', 'italian', 'pizza', 'seafood', 'raw_food', 'newamerican', 
              'mediterranean', 'vegan', 'gluten_free', 'spanish', 'wine_bars', 'tapasmallplates', 'salad', 'juicebars', 'vegetarian', 'indpak', 
              'belgian', 'tradamerican', 'pubs', 'korean', 'asianfusion', 'lounges', 'coffee', 'delis', 'grocery', 'bakeries', 'gastropubs', 
              'bars', 'cocktailbars', 'desserts', 'french', 'steak', 'cheese', 'bubbletea', 'vietnamese', 'catering', 
              'cheesesteaks', 'turkish', 'falafel', 'pakistani', 'bangladeshi', 'himalayan', 'halal', 'hotdogs', 'sushi', 'hotpot', 'mongolian', 
              'dimsum', 'cantonese', 'foodtrucks', 'latin', 'thai', 'icecream', 'donuts', 'cupcakes', 'greek', 'ethnicmarkets', 
              'armenian', 'mideastern']

for c in categories:
    df[c]= 0    
    df.loc[df['categories_json'].str.contains(c, regex=False), c] = 1

df.head()

,name,url,review_count,categories_json,rating,snippet_text,location_json,neighborhood,latitude,longitude,...,foodtrucks,latin,thai,icecream,donuts,cupcakes,greek,ethnicmarkets,armenian,mideastern
0,Wheelhouse,http://www.yelp.com/biz/wheelhouse-boston-3,101,"[[""Breakfast & Brunch"", ""breakfast_brunch""], [...",4.5,"After going to Wheelhouse, you'll never order ...","{""cross_streets"": ""Milk St & Batterymarch Arm""...",Financial District,42.357926,-71.053962,...,0,0,0,0,0,0,0,0,0,0
1,Tenoch Mexican,http://www.yelp.com/biz/tenoch-mexican-boston,121,"[[""Mexican"", ""mexican""]]",4.5,"So it's official, folks. We've finished our sa...","{""city"": ""Boston"", ""display_address"": [""3 Lewi...",North End,42.363309,-71.051800,...,0,0,0,0,0,0,0,0,0,0
2,O Ya,http://www.yelp.com/biz/o-ya-boston,450,"[[""Japanese"", ""japanese""]]",4.5,My husband and I came here to celebrate our 20...,"{""city"": ""Boston"", ""display_address"": [""9 E St...",Waterfront,42.351408,-71.056867,...,0,0,0,0,0,0,0,0,0,0
3,Locale,http://www.yelp.com/biz/locale-boston,121,"[[""Italian"", ""italian""], [""Pizza"", ""pizza""]]",4.5,Truly thankful that we stumbled on Locale whil...,"{""cross_streets"": ""Fleet St & Tileston St"", ""c...",North End,42.365085,-71.053187,...,0,0,0,0,0,0,0,0,0,0
4,Neptune Oyster,http://www.yelp.com/biz/neptune-oyster-boston,2487,"[[""Seafood"", ""seafood""], [""Live/Raw Food"", ""ra...",4.5,Best lobster roll on the whole trip..... and I...,"{""cross_streets"": ""Hull St & Stillman St"", ""ci...",North End,42.363618,-71.056012,...,0,0,0,0,0,0,0,0,0,0

In [56]:
df2 = df[['name', 'breakfast_brunch', 'burgers', 'sandwiches', 'mexican', 'japanese', 'italian', 'pizza', 'seafood', 'raw_food', 'newamerican', 
              'mediterranean', 'vegan', 'gluten_free', 'spanish', 'wine_bars', 'tapasmallplates', 'salad', 'juicebars', 'vegetarian', 'indpak', 
              'belgian', 'tradamerican', 'pubs', 'korean', 'asianfusion', 'lounges', 'coffee', 'delis', 'grocery', 'bakeries', 'gastropubs', 
              'bars', 'cocktailbars', 'desserts', 'french', 'steak', 'cheese', 'bubbletea', 'vietnamese', 'catering', 
              'cheesesteaks', 'turkish', 'falafel', 'pakistani', 'bangladeshi', 'himalayan', 'halal', 'hotdogs', 'sushi', 'hotpot', 'mongolian', 
              'dimsum', 'cantonese', 'foodtrucks', 'latin', 'thai', 'icecream', 'donuts', 'cupcakes', 'greek', 'ethnicmarkets', 
              'armenian', 'mideastern']]
df3 = pd.DataFrame()
for column in categories:
    df3[column] = df2[[column, 'name']].groupby(column).agg({'name': 'sum', 'name': lambda x: '; '.join(x)}).loc[1]

df3 # a dataframe with a string list (separated by semicolons) of all of the restaurants within that category

,breakfast_brunch,burgers,sandwiches,mexican,japanese,italian,pizza,seafood,raw_food,newamerican,...,foodtrucks,latin,thai,icecream,donuts,cupcakes,greek,ethnicmarkets,armenian,mideastern
name,Wheelhouse; Mike & Patty's; Blunch; Olga's Kaf...,Wheelhouse; The Glenville Stops; Sam's; Wheelh...,Wheelhouse; Galleria Umberto; Mike & Patty's; ...,Tenoch Mexican; Tenoch Mexican; Mi Pueblito Re...,O Ya; Avana Sushi; Oppa Sushi; Swish Shabu; Su...,Locale; Casa Razdora; Giacomo's Ristorante; Th...,Locale; Galleria Umberto; Casa Razdora; Lincol...,Neptune Oyster; Row 34; The Daily Catch; Row 3...,Neptune Oyster,Ko Pies At the Shipyard; Row 34; Jm Curley; As...,...,Taco Party; Stoked Wood Fired Pizza; Cookie Mo...,Mi Pueblito Restaurant,Cha Yen Thai Cookery; Maekha Thai Authentic Th...,Cha Yen Thai Cookery; Picco; Cookie Monstah; M...,Donut King; Kane's Donuts; Linda's Donuts; Dad...,Georgetown Cupcake,Yada Yada; Greek International Food Market,Sophia's Greek Pantry; Bella Ravioli; Greek In...,Armenian Market & Bakery,Eastern Lamejun Bakers; El Madina